@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<main class="container">
    <div class="row mt-5">
        <div class="col-12 mb-4  text-center">
            <img src="/assets/images/contact.png" width="100%" alt="">
        </div>

        <div class="col-12 text-center">
            <h3 class="post-title">@ViewData["Title"]</h3>
            <h5 class="">Use a local account or another service to log in</h5>
        </div>
        <div class="border-partial"></div>
    </div>
    
    <div class="row">
        <div class="col-md-8 col-12">
            <form class="row gy-2 gx-2" asp-route-returnUrl="@Model.ReturnUrl" id="account" method="post">
                <div class="col-12 ">
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control shadow-none" type="email" placeholder="Enter your email..."/>
                        <label asp-for="Input.Email">Email address</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control shadow-none" type="password" placeholder="Enter a password..."/>
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                
                
                <div class="col-12">
                    <div class="input-group">
                        <div class="checkbox ">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" type="checkbox"/>
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-12">
                    <div id="success"></div>
                    <button class="btn btn-primary form-button shadow-none" type="submit">Log In</button>
                </div>
                
                <div class="col-12">
                        <p>
                            <a class="post-link" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a class="post-link" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a class="post-link" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                </div>

            </form>
        </div>

        <div class="col-md-4 col-12 mt-md-0 mt-5">
            <section>
                <h4>Use another service to log in.</h4>
                <hr/>
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>

</main>



         
             
              
                
                


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}

