@inject IImageService ImageService
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using TheBlog.Services
@model X.PagedList.IPagedList<Post>

@{
    ViewData["Title"] = "Home Page";
}

<partial name="Partials_custom/_Header_img"/>

<main class="mt-5">
    <section class="container-fluid">
        <div class="container container-narrow">
            <div class="row gx-5">
                <!-- post list -->
                <div class="col-12 col-md-8">
                    <!-- post -->

                    <!-- Post preview-->
                    @foreach (var post in Model)
                    {
                        <article class="row mb-5">
                            <div class="col-12 text-center">
                                <img class="img-fluid mb-4" width="100%" src="@ImageService.DecodeImage(post.ImageData, post.ContentType)" alt="@post.Title image file">
                                <a class="post-link" asp-controller="Categories" asp-action="CategoryIndex" asp-route-categoryName="@post.Category.Name.ToLower()">
                                    @post.Category.Name
                                </a>
                                <a asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">
                                    <h3 class="post-title mt-2">@post.Title</h3>
                                </a>
                                <div class="border-partial"></div>
                                <p class="text-center post-author-date ">
                                    @post.BlogUser.FullName, @post.Created.ToLongDateString()
                                </p>
                                <p class="px-2">
                                    @post.Abstract
                                </p>
                                <a class="post-link" asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">
                                    Read More
                                </a>
                            </div>
                        </article>

                        <hr class="mb-5">
                    }

                    <!-- pagination -->
                    <div class="col-12 text-center mt-sm-5">
                        @* Paging Controls here *@
                        @* <div class="col-12 h3"> *@
                        @*     <span>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span> *@
                        @* </div> *@

                        <div class="col-12 d-flex justify-content-center">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                                new PagedListRenderOptions
                                {
                                    // UlElementClasses = new string[] {"text-center"},
                                    LiElementClasses = new[] { "page-item" },
                                    PageClasses = new[] { "page-link" }
                                })
                        </div>
                    </div>
                </div>

                <!-- side bar -->
                <aside class="col-12 col-md-4 px-md-3 px-4">
                    <partial name="Partials_custom/_Side_panel" view-data="ViewData"></partial>
                </aside>
            </div>
        </div>
    </section>
</main>