@using TheBlog.Services
@using Microsoft.AspNetCore.Identity
@using TheBlog.Enums

@model TheBlog.Models.Comment
@inject IImageService _imageService
@inject UserManager<BlogUser> _userManager


<div class="mb-5">
    <div class="row m-0 p-0">
        <div class="col-md-3 d-flex align-items-start justify-content-center border-end ">
            <img src="@_imageService.DecodeImage(Model.BlogUser.ImageData, Model.BlogUser.ContentType)" style="max-width: 120px" class="avatar" alt="@Model.BlogUser image">
        </div>
        <div class="col-md-9">
            <div class="col-12">
                <h5 class="fw-light" id=@($"ModelNumber_{Model.Id}")>@Model.BlogUser.FullName</h5>

                @* display post//moderate/update time  *@
                @if (Model.Moderated is not null)
                {
                    <p class="post-author-date">
                        <span class="fw-bold">
                            Moderated <span class="text-danger fst-italic">(@Model.ModerationType.ToString().ToLower())</span>
                        </span>
                        : @Model.Moderated?.ToLongDateString()
                    </p>
                    <p class="text-break">@Model.ModeratedBody</p>
                }
                else
                {
                    <p class="post-author-date">@Model.Created.ToLongDateString()</p>
                    <p class="text-break">@Model.Body</p>
                }



                @if (Model.Updated is not null)
                {
                    <p class="post-author-date">
                        Last update: @Model.Updated?.ToLongDateString()
                    </p>
                }
            </div>

            <div class="row d-flex">
                <div class="col-3">
                    @* Render Edit and Delete Buttons *@

                    @if (Model.Moderated is null && Model.Deleted is null && Model.BlogUserId == _userManager.GetUserId(User))
                    {
                        <a href="" data-bs-toggle="modal" data-bs-target="#editModal_@Model.Id" class="post-link fw-bolder">EDIT</a>

                        <form asp-controller="Comments" asp-action="Delete">
                            @Html.Hidden("Id", Model.Id)
                            @Html.Hidden("Slug", Model.Post.Slug)

                            <button class="post-link bg-transparent border-0 fw-bold">DELETE</button>
                        </form>
                    }
                </div>
                <div class="col-sm-9 col-12 d-flex flex-row-reverse justify-content-between">
                    @* Render Moderate and Delete buttons *@

                    @if (User.IsInRole(BlogRole.Moderator.ToString()) && Model.Deleted is null)
                    {
                        <form asp-controller="Comments" asp-action="Delete">
                            @Html.Hidden("Id", Model.Id)
                            @Html.Hidden("Slug", Model.Post.Slug)

                            <button class="btn btn-sm btn-danger  py-2 px-3">DELETE</button>
                        </form>

                        <button data-bs-toggle="modal" data-bs-target="#moderateModal_@Model.Id" class="btn btn-sm btn-outline-primary  py-2 px-3">MODERATE</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="border-partial mb-5"></div>