@using TheBlog.Services
@using Microsoft.AspNetCore.Identity
@using TheBlog.Enums
@using System.Linq
@model TheBlog.Models.Post
@inject IImageService _imageService
@inject UserManager<BlogUser> _userManager

@{
    ViewData["Title"] = "Details";
}

<main class="mt-5">

    <div class="container container-narrow">
        <div class="row gx-5">
            <div class="col-12 col-md-8">
                @* post *@
                <article class="row mb-0">
                    <div class="col-12 text-center mb-0">
                        <img class="img-fluid mb-4"  src="@_imageService.DecodeImage(@Model.ImageData, @Model.ContentType)" alt="@Model.Title image file">
                        <a class="post-link" asp-controller="Categories" asp-action="CategoryIndex" asp-route-categoryName="@Model.Category.Name.ToLower()">
                            @Model.Category.Name
                        </a>
                        <a asp-controller="Posts" asp-action="Details" asp-route-slug="@Model.Slug">
                            <h3 class="post-title mt-2">@Model.Title</h3>
                        </a>
                        <div class="border-partial"></div>
                        <p class="text-center post-author-date ">
                            @Model.BlogUser.FullName, @Model.Created.ToLongDateString()
                        </p>
                        <p class="px-2">
                            @Html.Raw(Model.Content)
                        </p>
                    </div>
                    <div class="col-12 mt-5">
                        @foreach (var tag in Model.Tags)
                        {
                            <a class="post-link me-4" asp-action="TagIndex" asp-route-tagText="@tag.Text.ToLower()">#@tag.Text</a> //TagIndex?
                        }
                    </div>
                </article>

                <hr class="mb-5 mt-3">

                @* Comments section *@
                <section class="col-12">

                    @* List comments under a post *@

                    <h4 id="commentSection" class="text-center">@Model.Comments.Count COMMENT(S)</h4>
                    <div class="border-partial"></div>

                    @* Displaying Comments related to this post *@

                    @foreach (var comment in Model.Comments)
                    {
                        <partial name="Partials_custom/_Comment" model="comment" view-data="ViewData"/>
                        <partial name="Partials_custom/_Modals" model="comment" view-data="ViewData"/>
                    }

                    @* Add comment *@
                    <div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <h4 class="text-center mt-5">Leave a Reply</h4>
                            <div class="border-partial"></div>

                            <form asp-controller="Comments" asp-action="Create" method="post">
                                @Html.Hidden("PostId", Model.Id)
                                @Html.Hidden("PostSlug", Model.Slug)

                                <div class="col-form-label">
                                    <textarea name="body" class="form-control" rows="10" maxlength="500"></textarea>

                                    <span class="mt-2 fw-bold text-danger">@TempData["CommentValidationErrorMsg"]</span>
                                </div>

                                <button type="submit" class="btn btn-primary form-button shadow-none">Post Comment</button>
                            </form>
                        }
                        else
                        {
                            <a class="btn btn-primary form-button shadow-none d-flex justify-content-center" asp-area="Identity" asp-page="/Account/Login" asp-route-ReturnUrl="~/Posts/Details?slug=@Model.Slug">LOG IN TO ADD COMMENTS</a>
                        }
                    </div>

                </section>
            </div>


            <!-- side bar -->
            <aside class="col-12 col-md-4 px-md-3 px-4">
                <partial name="Partials_custom/_Side_panel" view-data="ViewData"></partial>
            </aside>
        </div>
    </div>

</main>