@using TheBlog.Services
@using Microsoft.AspNetCore.Identity
@using TheBlog.Enums
@model TheBlog.Models.Post
@inject IImageService _imageService
@inject UserManager<BlogUser> _userManager

@{
    ViewData["Title"] = "Details";
}

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>


<hr/>

<article>
    <div class="row">
        <div class="col text-center h3 fw-bolder">
            Custom Post Tags
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            @foreach (var tag in Model.Tags)
            {
                <a class="btn btn-warning btn-outline-dark border-radius-10" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a> //TagIndex?
            }
        </div>
    </div>
</article>


<hr/>

@* Displaying Comments related to this post *@

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Comments" asp-action="Create" method="post">
            @Html.Hidden("PostId", Model.Id)
            @Html.Hidden("PostSlug", Model.Slug)
            
            <div class="col-form-label">
                <label class="h2 col-form-label fw-bold">Add Comment</label>
            <textarea name="body" class="form-control" rows="10"></textarea> 
            </div>

            <button type="submit" class="btn btn-dark col-12">Submit</button>
        </form>
    }
    else
    {
        <a class="btn col-12 btn-dark btn-sm" asp-area="Identity" asp-page="/Account/Login" asp-route-ReturnUrl="~/Posts/Details?slug=@Model.Slug">LOG IN TO ADD COMMENTS</a>
    }
</div>

<hr />
@* List comments under a post *@

<span id="commentSection" class="col-12 btn btn-dark">@Model.Comments.Count COMMENT(S)</span>

@foreach (var comment in Model.Comments)
{
 @*   <div class="row media media-border p-0 mb-2 bg-light">

        <img class="me-3 mt-3 rounded-circle" style="width: 60px" src="@_imageService.DecodeImage(Model.BlogUser.ImageData, Model.BlogUser.ContentType)">
        <div class=media-body>
            <h4>@comment.BlogUser.FullName</h4>
            <small><i>Posted on @comment.Created.ToLongDateString()</i></small>
            <p>@comment.Body</p>
        </div>
    </div>*@

    <div class="row media media-border p-0 mb-2 bg-light">
        <div class="col-1">
            <img class="me-3 mt-3 img-fluid rounded-circle" style="min-width: 80px" src="@_imageService.DecodeImage(Model.BlogUser.ImageData, Model.BlogUser.ContentType)" alt="@Model.BlogUser image">
        </div>
        
        <div class="col-11">
            <div class=media-body>
                <h4 id=@($"commentNumber_{comment.Id}")>@comment.BlogUser.FullName</h4>
                
                        @if (comment.Moderated is not null)
                        {
                            <small>
                                <i>
                                    <span class="small">
                                        <span class="fw-bold">
                                            Moderated <span class="text-danger fst-italic">(@comment.ModerationType.ToString().ToLower())</span>
                                        </span>
                                        : @comment.Moderated?.ToLongDateString()
                                    </span>
                                </i>
                            </small>
                            <p>@comment.ModeratedBody</p>
                        }
                        else
                        {
                            <small>
                            <i>
                            <span class="small fst-italic">Posted : @comment.Created.ToLongDateString()</span>
                            </i>
                            </small>
                            <p>@comment.Body</p>
                        }
                
                @* Render Edit Button *@

                @if (comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == _userManager.GetUserId(User))
                {
                    <hr/>
                    <button data-bs-toggle="modal" data-bs-target="#editModal_@comment.Id" class="btn btn-dark float-end fw-bold">EDIT</button>
                }
                
                @* Render Moderate and Delete buttons *@
                
                @if (User.IsInRole(BlogRole.Moderator.ToString()) && comment.Deleted is null)
                {
                    <hr/>
                    <div class="row">
                        <div class="col-2">
                            <button data-bs-toggle="modal" data-bs-target="#moderateModal_@comment.Id" class="btn btn-dark float-end fw-bold">MODERATE</button>
                        </div>
                        <div class="col-2">
                            <form asp-controller="Comments" asp-action="Delete">
                                @Html.Hidden("Id", comment.Id)
                                @Html.Hidden("Slug", comment.Post.Slug)
                                
                                <button class="btn alert-dark fw-bold col-12">DELETE</button>
                            </form>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>


    @* Modals *@

    <div class="modal" id=@($"editModal_{comment.Id}")>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editing Comment...</h4>

                </div>
            
                @* Modal Body *@
            
                <div class="modal-body">
                    <form asp-action="Edit" asp-controller="Comments">
                        @Html.Hidden("Id", comment.Id)
                    
                        <div class="form-group">
                            <textarea name="Body" class="form-control" required="@comment.Body"></textarea>
                        </div>
                        
                        <button class="btn btn-dark fw-bold border-success">SUBMIT</button>
                    </form>
                </div>
                
                @* Modal footer *@
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark fw-bold" data-bs-dismiss="modal">CLOSE</button>
                </div>

            </div>
        </div>
    </div>


    // Moderate Modal

    <div class="modal" id=@($"moderateModal_{comment.Id}")>
        <div class="modal-dialog">
            <div class="modal-content">
                
                @* Modal Header *@
                <div class="modal-header">
                    <h4 class="modal-title">Moderating Comment</h4>

                </div>
                
                @* Modal Body *@
                <div class="modal-body">
                    <form asp-controller="Comments" asp-action="Moderate" >
                        @Html.Hidden("Id", comment.Id)
                        @Html.Hidden("Body", comment.Body)
                        
                        <div class="form-group">
                            <label class="control-label">Original Comment</label>
                            <textarea disabled class="form-control" style="resize: none">@comment.Body</textarea>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label">Moderated Comment</label>
                            <textarea class="form-control" name="ModeratedBody" >@comment.ModeratedBody</textarea>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label">Moderation Reason</label>
                            <select class="form-control" name="ModerationType" asp-for="@comment.ModerationType" asp-items="@Html.GetEnumSelectList<ModerationType>()"></select>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-dark col-12 border-success fw-bold" type="submit">SUBMIT</button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-dark fw-bold col-12" data-bs-dismiss="modal">CLOSE</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>


            </div>
        </div>
    </div>
}



